h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: blueviolet;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: cadetblue;
}